<%= content_for(:title, "Contact Us") %>
<main>
  <div class="container">
    <div class="text-center py-5">
      <h1 class="display-4 fw-bold lh-1 text-center">Contact Us!</h1>
      <hr>
      <p>We would love to hear from you. Send us a message below.</p>
    </div>

    <%= form_for @contact do |form| %>
      <% if @contact.errors.any? %>
        <div class="alert alert-danger mx-auto" style="max-width: 480px;" role="alert">
          <div><%= pluralize(@contact.errors.count, "error") %> occurred:</div>

          <ul>
            <% @contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div id="contact-form" class="mx-auto">
        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :message, class: "form-label" %>
          <%= form.text_area :message, rows: 10, class: "form-control" %>
        </div>

        <div class="d-none">
          <%= form.label :nickname %>
          <%= form.text_field :nickname %>
        </div>

        <div class="text-center">
          <%= form.submit "Send Message", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</main>